%%-*- mode: erlang -*-

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.2"}}},
    {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.12.1"}}},
    {cowboy, {git, "https://github.com/extend/cowboy.git", {tag, "2.0.0-pre.8"}}}
]}.

{relx, [
    {release, {'volunteer_mgr', "0.1.0"}, ['volunteer_mgr', sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.

{ct_opts, [{sys_config, "./config/sys.config"}]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
