[
    {volunteer_mgr, [
        {ip_address, {127,0,0,1}},
        {port, 8080},
        {workers, 25},
        {erlydtl_templates, [
            {"/templates/index.dtl", volunteer_mgr_templates_index},
            {"/templates/people.dtl", volunteer_mgr_templates_people},
            {"/templates/tags.dtl", volunteer_mgr_templates_tags}
        ]}
    ]},
    {mnesia, [
        {schema_location, disc},
        {dir, "/tmp/volunteer_mgr"} %% TODO: /var/db/volunteer_mgr for production?
    ]}
].
